.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
    // background: #219653;
 }
 a{
     color: white
 }
 .footer-text{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
 }