<header>
  <section class="intro intro-2 ">
    <div class="full-bg-img mask flex-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5 mb-5">

            <div class="card wow fadeIn mb-3" data-wow-delay="0.3s" style="animation-name: none; visibility: visible;">
              <div class="card-body">

                <div class="px-5 text-center">
                 <span>{{activated_message}}
                  <div class="mt-2"><a routerLink="/login" class="nav-link d-inline text-ud">Login Here!</a></div>
                 </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</header>