<header>
  <section class="intro intro-2 ">
    <div class="full-bg-img mask flex-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5 mb-5">

            <div class="card wow fadeIn mb-3" data-wow-delay="0.3s" style="animation-name: none; visibility: visible;">
              <div class="card-body">

                <div class="px-5 pb-5">
                  <img src="../../../../assets/itex2.png" class="px-5 img-fluid mx-auto">
                  <p class="title text-center pb-5">Fraud Management System</p>
                </div>

                <div class="mt-3">
                  <input #password type="password" class="form-control" placeholder="New Password">
                  <span class="text-danger">{{errors.password}}</span>
                </div>

                <div class="mt-3">
                  <input #password2 type="password" class="form-control" placeholder="Confirm Password">
                  <span class="text-danger">{{errors.co_password}}</span>
                </div>


                <div class="text-center pb-3">

                  <button (click)="resetPassword(password.value, password2.value)"
                    class="btn btn-style d-block w-100 btn-ud btn-lg waves-effect waves-light mx-0 mt-3" mdbWavesEffect>
                    Reset
                    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                  </button>

                  <div class="text-left mt-2"><a routerLink="/login" class="nav-link d-inline text-ud">Login</a></div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</header>