<div class="row">
  <div class="col status-bar no-click">
    <mdb-card style="border: none;">
      <mdb-card-body [style.height.rem]="'9'" [style.padding]="'0'" class="card-1">
        <div class="pt-4 pb-2" [style.text-align]="'center'">
          <div class="summary-text">Agents</div>
          <div  class="container summary-value">0000</div>
         
          <!-- <mdb-spinner  spinnerColor="blue"></mdb-spinner> -->
        </div>
        <div class="trans-text">Total Transactions
          <i class="vol-text">Volume</i>
        </div>
        <div class="trans-value" *ngIf="loading == false"> ₦ 890
          <i class="vol-value">789</i>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col status-bar">
    <mdb-card style="border: none;">
      <mdb-card-body [style.height.rem]="'9'" [style.padding]="'0'" class="card-2">
        <div class="pt-4 pb-2" [style.text-align]="'center'">
          <div class="summary-text"> Users</div>
          <div  class="container summary-value">999</div>
          <!-- <mdb-spinner  spinnerColor="blue"></mdb-spinner> -->

        </div>
        <div class="trans-text">Total Transactions
                <i class="vol-text">Volume</i>
              </div>
              <div class="trans-value" *ngIf="loading == false"> ₦ 888
                <i class="vol-value">89</i>
              </div> 
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col status-bar">
    <mdb-card style="border: none;">
      <mdb-card-body [style.height.rem]="'9'" [style.padding]="'0'" class="card-3">
        <div class="pt-4 pb-2" [style.text-align]="'center'">
          <div class="summary-text"> B2B</div>
          <div  class="container summary-value">777</div>
         
          <!-- <mdb-spinner  spinnerColor="blue"></mdb-spinner> -->

        </div>
        <div class="trans-text">Total Transactions
          <i class="vol-text">Volume</i>
        </div>
        <div class="trans-value" *ngIf="loading == false">₦ 789
          <i class="vol-value">7899</i>
        </div> 
      </mdb-card-body>
    </mdb-card>
  </div>
  <div  class="col status-bar" >
 
    <mdb-card style="border: none;">
      <mdb-card-body [style.height.rem]="'9'" [style.padding]="'0'" class="card-4">
        <div class="pt-4 pb-2" [style.text-align]="'center'">
          <div class="summary-text"> Staff</div>
          <div  class="container summary-value">778</div>
          <!-- <mdb-spinner  spinnerColor="blue"></mdb-spinner> -->

        </div>
        <div class="trans-text">Total Transactions
          <i class="vol-text">Volume</i>
        </div>
        <div class="trans-value" *ngIf="loading == false">₦ 789o
          <i class="vol-value">789</i>
        </div> 
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col status-bar">
    <mdb-card style="border: none;">
      <mdb-card-body [style.height.rem]="'9'" [style.padding]="'0'" class="card-5">
        <div class="pt-4 pb-2" [style.text-align]="'center'">
          <div class="summary-text"> None</div>
          <div  class="container summary-value">88</div>
          <!-- <mdb-spinner  spinnerColor="blue"></mdb-spinner> -->

        </div>
        <div class="trans-text">Total Transactions
          <i class="vol-text">Volume</i>
        </div>
        <div class="trans-value" *ngIf="loading == false"> ₦ 890
          <i class="vol-value">789</i>
        </div> 
      </mdb-card-body>
    </mdb-card>
  </div>

</div>