.time-head{
    font-size: 0.75rem;
    color: #717171;
}

.time-value{
    font-size: 0.875rem;
    color: #18202F;
}
.export-btn{
    border: 0.063rem solid #253A66;
    color: #253A66;
    background: transparent;
}
.example-form-field {
    margin: 0 8px 16px 0;
  }
  .card{
    border: 1px solid lightgrey;
    background: #F2F2F2;
    height: 8rem;
  }
  .loader-icon{
    position: absolute;
    right: 45%;
    margin-top: 3rem;
  }
  
  .table tr,.table td {
    height: 35px;
 }
 
 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
 {
   padding:0; 
 }

 .vol-text{
  float: right; 
  color: #5AB2D3;
  font-style: normal;
}
.trans-text{
  padding: 19px;
  font-size: 13px;
   color: #919191;
   margin-top: -9px;
}
.vol-value{
  float: right;   
    color: #5AB2D3;
  font-style: normal;
   font-weight: 600;
}
.trans-value{
  padding: 19px;
  margin-top: -35px;
    font-size: 12px;
     color: #919191;
      font-weight: 600;
}
mdb-card {
  width: auto;
}
.card-1 {
  background: #e8f2ff 0% 0% no-repeat padding-box;
  border: 0.125rem solid #5478a3;
  border-radius: 0.5rem;
  opacity: 1;
}
.card-2 {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 0.125rem solid #01c6b8;
  border-radius: 0.5rem;
  opacity: 1;
}
.card-3 {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border: 0.125rem solid #0f344a;
  border-radius: 0.5rem;
  opacity: 1;
}
.card-4 {
  background: #7676760b 0% 0% no-repeat padding-box;
  border: 0.125rem solid #7e7e7e;
  border-radius: 0.5rem;
  opacity: 1;
}
.card-5 {
  background: #7b16040d 0% 0% no-repeat padding-box;
  border: 0.125rem solid #7b1603;
  border-radius: 0.5rem;
  opacity: 1;
}
.summary-value {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  // font: normal normal normal 20px/24px "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #183879;
  opacity: 1;
  font-weight: 600;
  text-align: center;
}
.summary-text {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  // font: normal normal normal 23px/20.5rem "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #152c5b;
  opacity: 1;
  text-align: center;
}
.summary-label {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  // font: normal normal normal 20px/24px "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #848484;
  opacity: 1;
}
// .card {
//   background: #fcfcfc 0% 0% no-repeat padding-box;
//   border: 1px solid #e1e1e1;
//   border-radius: 0.813rem;
//   opacity: 1;
//   width: inherit;
// }